<TabView selectedIndex="3" androidTabsPosition="bottom">

    <page-router-outlet *tabItem="{title: 'Map'}" name="mapTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'ToolKit'}" name="toolkitTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Alert'}" name="alertTab" actionBarVisibility="never">
    </page-router-outlet>

    <page-router-outlet *tabItem="{title: 'Home'}" name="homeTab" actionBarVisibility="never">
    </page-router-outlet>

</TabView>