<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Welcome"></Label>
</ActionBar>


<FlexboxLayout class="page">

    <StackLayout class="loader" [visibility]="loadtoggler">
        <Label text="Loading"></Label>
    </StackLayout>

    <StackLayout class="form" [visibility]="formtoggler">


        <GridLayout columns="2*,*" rows="auto" width="100%" height="auto" >
            <StackLayout col="0" row="1" class="input-field">
                <TextField #name [(ngModel)]="input.name" class="input" hint="First Name" autocorrect="true" autocapitalizationType="words"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout col="1" row="1" class="input-field">
                <TextField #linitial [(ngModel)]="input.linitial" class="input" hint="Last Initial" returnKeyType="done" autocapitalizationType="allCharacters"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </GridLayout>
        <StackLayout class="input-field">
                <ListPicker #fellowship [(ngModel)]="input.fellowship" class="input" [items]="fellowshipOptions" selectedIndex="0"></ListPicker>
                <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
                <Label [text]="month"><Label text="-"></Label></Label><Label [text]="day"><Label text="-"></Label></Label><Label [text]="year"></Label>
                <Button text="Pick a Date" (tap)="selectDate()" style="margin-top: 100;" class="btn btn-primary"></Button>
                <!---<DatePicker #soberDate class="input" (loaded)="onDatePickerLoaded($event)" [(ngModel)]="input.soberDate" verticalAlignment="center"></DatePicker> -->
                <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Button text="Lets Go!" (tap)="submit()"></Button>
        <Button row="1" text="Logout" (tap)="onLogout()"></Button>
    </StackLayout>
          
</FlexboxLayout>
