<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Welcome"></Label>
</ActionBar>


<FlexboxLayout class="page">

    <StackLayout class="loader" [visibility]="loadtoggler">
        <Label text="Loading"></Label>
    </StackLayout>

    <StackLayout class="form" [visibility]="formtoggler">
        <Image class="logo" src="~/app/images/logorod.png"></Image>
        <Label class="header" text="Recovery on Demand"></Label>

        <GridLayout columns="2*,*" rows="auto" width="100%" height="auto" >
            <StackLayout col="0" row="1" class="input-field">
                <TextField #name class="input" hint="First Name" autocorrect="true" autocapitalizationType="words"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>

            <StackLayout col="1" row="1" class="input-field">
                <TextField #linitial class="input" hint="Last Initial" returnKeyType="done" autocapitalizationType="allCharacters"></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </GridLayout>
        <StackLayout class="input-field">
                <ListPicker #fellowship class="input" [items]="fellowshipOptions" selectedIndex="0"></ListPicker>
                <StackLayout class="hr-light"></StackLayout>
        </StackLayout>
        <StackLayout class="input-field">
                <DatePicker #soberDate class="input" (loaded)="onDatePickerLoaded($event)" verticalAlignment="center"></DatePicker>
                <StackLayout class="hr-light"></StackLayout>
        </StackLayout>

        <Button text="Lets Go!" (tap)="submit()"></Button>
    </StackLayout>
          
</FlexboxLayout>


<GridLayout rows="auto, auto">
    <Button text="Go To Tabs Page" [nsRouterLink]="['/tabs/default']"></Button>
    <Button row="1" text="Logout" (tap)="onLogout()"></Button>
</GridLayout>